<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="alphanumeric.js"></script>
</head>

<body>
    <div class="text-center">
        <h1>Alpha-Numeric character counter</h1>
    </div>

    <div class="container margintop-5em" id="app">
        <div class="input-group text-center margin-0auto">
            <span>Enter Alpha Numeric string: </span>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                placeholder="AnsweRs4you" v-model="alphanumericCharacter">
            <br>
            <span class="btn btn-primary btn-sm" v-on:click="count">Count</span>
        </div>
        <template v-if="results" v-for="(value, key) in results">
            <div class="text-center">
                {{ key }} : {{ value }}
            </div>
        </template>
    </div>
</body>
<script>
    const vueApp = new Vue({
        el: '#app',
        data: {
            alphanumericCharacter: 'AnsweRs4you',
            results: ''
        },
        methods: {
            count: function (event) {
                this.results = alphanumericCharCount(this.alphanumericCharacter)
            }
        }
    })
</script>

<style>
    .margintop-2em {
        margin-top: 2em;
    }

    .margintop-5em {
        margin-top: 5em;
    }

    .margin-0auto {
        margin: 0 auto;
    }
</style>

</html>